[submodule "libretro-database"]
	path = libretro-database
	url = https://github.com/libretro/libretro-database.git
[submodule "discord-api"]
	path = discord-api
	url = https://github.com/RlxChap2/api.discord.com.git
[submodule "cachyos-ananicy-db"]
	path = cachyos-ananicy-db
	url = https://github.com/CachyOS/ananicy-rules.git
[submodule "libretro-roms-scraper"]
	path = libretro-roms-scraper
	url = https://github.com/Gr3gorywolf/libretro-roms-scraper.git
